.name {
  background-color: lightskyblue;
  padding: 10px;
}
.age {
  background-color: lightblue;
  padding: 10px;
}
.yellow {
  background-color: khaki;
}
.green {
  background-color: lightseagreen;
}
