.flex {
  flex: 1;
  display: flex;

  &.vertical {
    flex-direction: column;
  }
  &:not(.vertical) {
    &.right {
      justify-content: flex-end;
    }
    &.center {
      justify-content: center;
    }
    &.bottom {
      align-items: flex-end;
    }
    &.middle {
      align-items: center;
    }
  }
  &:not(.horizontal) {
    &.right {
      align-items: flex-end;
    }
    &.center {
      align-items: center;
    }
    &.bottom {
      justify-content: flex-end;
    }
    &.middle {
      justify-content: center;
    }
  }
}
